
body{
	margin:0;
	padding:0;
	box-sizing: border-box;
}



#headerContainer{
	display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

header{
	background-color: black;
}

header h1{
	color: white;
}

header input{
	width: 100%;
    max-width: 250px;
    height: 20px;
    border-radius: 5px;
    padding:5px;
}


#movie-list{
	display: flex;
    flex-wrap: wrap;
}


.movie{
	width: 30%;
	margin:0 auto;
	text-align: center;
	text-decoration: none;
	color: black;
	position: relative;
}

.movie img{
	width: 360px;
	height: 500px;
	display: block;
	margin:0 auto;
}

.movie h3{
	border: solid black 2px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}